<p-dialog [(visible)]="editStatusDialog" *ngIf="member.id!=null"  [modal]="true" [style]="{width: '300px'}" header="New amount"
          styleClass="p-fluid">
    <ng-template pTemplate="p-field">

        <div class="p-field">
            <label for="libelle">Status</label>
            <select id="libelle" [(ngModel)]="this.clubsMember.status" class="btn btn-block btn-outline-light form-control"
                    name="Parcours" pInputText style="background-color: #6c9aaa"
                    type="text">
                <option selected="selected"> Président</option>
                <option selected="selected"> Tresor</option>
                <option selected="selected"> Secretaire</option>
                <option selected="selected"> Vice-President</option>
                <option selected="selected"> Membre</option>
            </select>
            <small *ngIf="submitted && !clubsMember.status" class="p-invalid">ref is required.</small>
        </div>
    </ng-template>


    <ng-template pTemplate="footer" style="background-color: lavender;">
        <button (click)="hideEditStatusDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton
                pRipple></button>
        <button (click)="editStatus()" class="p-button-text" icon="pi pi-check" label="Save" pButton pRipple></button>
    </ng-template>
</p-dialog>




