<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div *ngIf="member.id!=null"  class="container emp-profile p-card" style="width: 150%;">
    <p-toast></p-toast>
    <form method="post">
        <div class="row">
            <div class="p-col-4 p-card" style="background-color: dodgerblue">
                <div class="profile-img">
                    <img style="height: 100%; border: 5px solid #555;" src="{{member.image}}" alt=""/>

                </div>
            </div>
            <div class="p-col-8">
                <div class="profile-head" style="margin-top: 2%">

                            <div class="p-field">
                                    <div class="p-col">
                                   <label for="nom">Last Name :</label>

                                   <input disabled id="nom" style="margin-left: 2%; width: 100%; color: black" value="{{member.nom}}" pInputText type="text"/>
                                    </div>

                                <div class="p-col">

                                        <label for="prenom">First Name :</label>

                                        <input disabled id="prenom" style="margin-left: 2%; width: 100%; color: black"  value="{{member.prenom}}" pInputText type="text"/>

                                </div>

                        <div class="p-col">

                                <label for="numeroEtudiant">Student Number :</label>

                                <input disabled id="numeroEtudiant" style="margin-left: 2%; width: 100%; color: black"  value="{{member.numeroEtudiant}}" pInputText type="text"/>

                            </div>
                            <div class="p-col">
                                <label for="fillier">fillier :</label>

                                <input disabled id="fillier" style="margin-left: 2%; width: 100%; color: black"  value="{{member.fillier}}" pInputText type="text"/>
                            </div>

                            <div class="p-col">
                                <label for="fillier">niveau :</label>

                                <input disabled id="niveau" style="margin-left: 2%; width: 100%; color: black"  value="{{member.niveau}}" pInputText type="text"/>
                            </div>


                    </div>
                    <input type="submit" style="float: right; width: 200px; background-color: dodgerblue; color: white"  class="profile-edit-btn" name="btnAddMore" (click)="openEditProfil(member)" value="Edit Profile"/>


                </div>
            </div>

        </div>
    </form>
    <app-edit-profil></app-edit-profil>
</div>
