
<!DOCTYPE html>

<html style="background-color: white">


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body style="background-color: white" class="p-col-12">
<div class="video-container">
    <section class="p-col-12" >
        <div class="container">
            <div >
               <Slider></Slider>
                <div id="slider">
                    <div class="slides">
                        <div class="slider">
                            <div class="legend"></div>
                            <div class="content">
                                <div class="content-txt">
                                    <h2>Lorem ipsum dolor</h2>
                                    <p>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</p>
                                </div>
                            </div>
                            <div class="image"> <img src="../../../../assets/layout/images/image2.jpg"> </div>
                        </div>
                        <div class="slider">
                            <div class="legend"></div>
                            <div class="content">
                                <div class="content-txt">
                                    <h2>Lorem ipsum dolor</h2>
                                    <p>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</p>
                                </div>
                            </div>
                            <div class="image"> <img src="../../../../assets/layout/images/image4.jpg"> </div>
                        </div>
                        <div class="slider">
                            <div class="legend"></div>
                            <div class="content">
                                <div class="content-txt">
                                    <h2>Lorem ipsum dolor</h2>
                                    <p>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</p>
                                </div>
                            </div>
                            <div class="image"> <img src="../../../../assets/layout/images/image5.jpg"> </div>
                        </div>
                        <div class="slider">
                            <div class="legend"></div>
                            <div class="content">
                                <div class="content-txt">
                                    <h2>Lorem ipsum dolor</h2>
                                    <p>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</p>
                                </div>
                            </div>
                            <div class="image"> <img src="../../../../assets/layout/images/image6.jpg"> </div>
                        </div>
                    </div>
                    <div class="switch">
                        <ul>
                            <li>
                                <div class="on"></div>
                            </li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>




        <section class="related">

            <div class="col-rt-12">
                <h1 style="font-family: 'Arial Black'; color: black; background-color: 	#87CEFA">Video of our Clubs :</h1>
            </div>
            <iframe
                    src='https://www.youtube.com/embed/J0wuITksa3E'
                    allowfullscreen loading="lazy" style="width: 90% ;height: 500px;  margin-top: 4%">

            </iframe>

        </section>

    </section>
</div>




</body>
<script>

</script>
<link id="prime-flex" rel="stylesheet" type="text/css" href="primeflex.css">
</html>
