
<!DOCTYPE html>

<html style="background-color: white">


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body style="background-color: white" class="p-col-12">
<div class="video-container">
    <section class="p-col-12" >
        <div class="container">
            <div >
               <Slider></Slider>
                <div id="slider">
                    <div class="slides">
                        <div class="slider">
                            <div class="legend"></div>
                            <div class="content">
                                <div class="content-txt">
                                    <h2>Musical Club</h2>
                                    <p>The UIR Musicians Club was created to bring together the University's musicians and artists in order to collaborate in the artistic development of the students but also the UIR with musical entertainment offered to students on the University Campus throughout the year.</p>
                                </div>
                            </div>
                            <div class="image"> <img src="https://drive.google.com/uc?export=view&id=1Eowrv9xgccKPtS_WSt22Y5s6vHF6tVYp"> </div>
                        </div>
                        <div class="slider">
                            <div class="legend"></div>
                            <div class="content">
                                <div class="content-txt">
                                    <h2>FriendShip Club</h2>
                                    <p>Friendship Club members are physically active and challenged in a sensory gym environment, while receiving a social skills program that addresses both social needs and behaviors that may hinder successful relationships with their peers. It is the job of childhood to learn to play and interact successfully.</p>
                                </div>
                            </div>
                            <div class="image"> <img src="https://drive.google.com/uc?export=view&id=1GpFaalDlO8g3QJh8Y0sKmSn2EZhgT7Fu"> </div>
                        </div>
                        <div class="slider">
                            <div class="legend"></div>
                            <div class="content">
                                <div class="content-txt">
                                    <h2>Club Internet</h2>
                                    <p>Club Internet was one of the oldest French Internet access providers, created in October 1995 by the company Lagardère SCA. It became the French subsidiary of T-Online in February 2000, the Internet activity of Deutsche Telekom</p>
                                </div>
                            </div>
                            <div class="image"> <img src="https://drive.google.com/uc?export=view&id=1cfWQUdfJnBeiLf6Jur1VsYQ2r8Lwnl1I"> </div>
                        </div>
                        <div class="slider">
                            <div class="legend"></div>
                            <div class="content">
                                <div class="content-txt">
                                    <h2>Information</h2>
                                    <p>Contact us For More Information:<br>
                                        Phone Number: +212 (0)5 30 10 30 00 <br>
                                        Email: contact@uir.ac.ma
                                    </p>
                                </div>
                            </div>
                            <div class="image"> <img src="http://hips.htvapps.com/htv-prod-media.s3.amazonaws.com/images/contact-us-1280-x-720-1486069915.jpg?crop=1.00xw:1.00xh;0,0&resize=900:*"> </div>
                        </div>
                    </div>
                    <div class="switch">
                        <ul>
                            <li>
                                <div class="on"></div>
                            </li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>




        <section class="related">

            <div class="col-rt-12">
                <h1 style="font-family: 'Raleway'; color: #0a3e41"><b style="font-size: larger"><u>Student Clubs</u></b></h1>
            </div>
            <div class="p-col-5 container" style="margin-top: 6%; margin-left: 5%; float: left "  >
                <h4><b style="font-size: larger">The purpose of UIR Clubs is to carry out student actions on different fronts: sports activities, commitment to the environment, humanitarian actions, artistic and cultural events. If you have a Club idea that is not listed below, you can apply to the Clubs and Student Organizations Department (rachid.hadre@uir.ac.ma) to start a Club..

                    The International University of Rabat is proud to have 48 Student Clubs that are actively involved on their campus and contribute to the outreach and development of their community.</b></h4>
            </div>
            <div class="p-col-6" style="margin-top: 4%;float: right">
            <iframe
                    src='https://www.youtube.com/embed/9OyYYggKVrE'
                    allowfullscreen loading="lazy" style="width: 100%; margin-right: 5%;height: 400px; float: right">

            </iframe>
            </div>

        </section>

    </section>
</div>




</body>
<script>

</script>
<link id="prime-flex" rel="stylesheet" type="text/css" href="primeflex.css">
</html>
