<p-toast></p-toast>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<p-toast></p-toast>
<div class="main">

    <div class="container">
        <form method="POST" class="appointment-form" id="appointment-form">
            <h2>Registration form</h2>
            <div class="form-group-1">
                <input type="text"  class="btn btn-block btn-outline-info form-control" name="prenom" id="Firstname" placeholder="Firstname"
                       [(ngModel)]="member.prenom"  required/>
                <input type="text"  class="btn btn-block btn-outline-info form-control" name="nom" id="Lastname" placeholder="Lastname" [(ngModel)]="member.nom" required/>
                <input type="email"  class="btn btn-block btn-outline-info form-control" name="username" id="gmail" placeholder="email" [(ngModel)]="member.login" required
                />
                <input type="number"  class="btn btn-block btn-outline-info form-control" name="phone_number" id="phone_number" placeholder="Numero Etudiant" [(ngModel)]="member.numeroEtudiant" required
                />

                <input type="text"  class="btn btn-block btn-outline-info form-control" name="Image" id="photo" placeholder="Image (Link from Google Drive)" [(ngModel)]="member.image" required/>
                <div class="p-field">
            <select required name="role" id="roles"  [(ngModel)]="member.niveau" placeholder="--Please choose your level--"
                    pInputText >
                <option disabled selected>--Please choose your level--</option>
                <option selected="selected"> 1ère année</option>
                <option selected="selected"> 2ème année</option>
                <option selected="selected"> 3ème année</option>
                <option selected="selected"> 4ème année</option>
                <option selected="selected"> 5ème année</option>
                <option selected="selected"> 6ème année</option>
            </select>
            <select required name="role"  id="role"  pInputText  [(ngModel)]="member.fillier" placeholder="--Please choose your fillier--">
                <option  selected>--Please choose your fillier--</option>
                <option selected="selected"> ARC</option>
                <option selected="selected"> ASP</option>
                <option selected="selected"> AUTO</option>
                <option selected="selected"> CIT</option>
                <option selected="selected">COM</option>
                <option selected="selected"> DAP</option>
                <option selected="selected"> ENG</option>
                <option selected="selected"> EPP</option>
                <option selected="selected"> FEA</option>
                <option selected="selected"> G2I</option>
                <option selected="selected"> GI</option>
                <option selected="selected"> IBM</option>
                <option selected="selected"> IPL</option>
                <option selected="selected"> JAL</option>
                <option selected="selected"> LDA</option>
                <option selected="selected"> LOG</option>
                <option selected="selected"> MDEN</option>
                <option selected="selected"> MEDINA</option>
                <option selected="selected"> MKG</option>
                <option selected="selected"> MRH</option>
                <option selected="selected"> MTH</option>
                <option selected="selected"> PGE</option>
                <option selected="selected"> PRI</option>
                <option selected="selected"> SCM</option>
            </select></div>
            </div>
            <div class="form-submit">
                <button type="button" name="submit" style="background-color: #4e7988; float: right" id="submit"
                       (click)="save()" class="submit" >Submit
                </button>
            </div>
        </form>
    </div>

</div>

</body>
</html>
<script>
$('.picker').selectpicker({noneSelectedText: 'Insert Placeholder text'});  </script>
