<div class="layout-topbar">


        <a class="navbar-brand" ><img src="assets/layout/logo.png" style="height: 50px;" ></a>
    <a href="#" class="layout-topbar-logo">
        <h1  style="height: 60px;color: white">UIR CLUB</h1>
    </a>

    <ul *ngIf="this.jury.id == null && this.member.id ==null" class="topbar-menu">

        <li [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarUserMenuActive}" class="user-profile"
            style="margin-top: 4px">
            <a (click)="appMain.onTopbarUserMenuButtonClick($event)" *ngIf="!app.inlineUser" href="#">
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name" [routerLink]="['/pages/login-admin']" ><b><h4>Sign in </h4></b></span>
                </div>

            </a>
        </li>
        <li [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarNotificationMenuActive}" class="user-profile"
            style="margin-top: 4px">
            <a (click)="appMain.onTopbarNotificationMenuButtonClick($event)" *ngIf="!app.inlineUser" href="#">
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name" [routerLink]="['/pages/inscription']" ><b><h4>Sign up</h4></b></span>
                </div>
            </a>
        </li>


    </ul>



</div>
